config/__pycahe__
**/__pycache__/*
__pycache__/*
build/*
*cmake
*.DS_Store
*.vscode/
*.swp
*.class
*.gch
*.a
*.o
.gradle/*
.vscode/*
.idea/*
*xcworkspace*
*cmake-build-debug*
CMakeLists.txt.user
config/sumeragi.json
cmake-build-debu/*
docker/build/iroha.tar
cmake-build-debug/*
external/*
