[submodule "core/vendor/KeccakCodePackage"]
  path = core/vendor/KeccakCodePackage
  url = https://github.com/gvanas/KeccakCodePackage.git
  ignore = dirty
[submodule "core/vendor/leveldb"]
  path = core/vendor/leveldb
  url = https://github.com/google/leveldb.git
  ignore = dirty
[submodule "core/vendor/ed25519"]
	path = core/vendor/ed25519
	url = https://github.com/MizukiSonoko/ed25519.git
  ignore = dirty
[submodule "core/vendor/json"]
	path = core/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "core/vendor/Cappuccino"]
	path = core/vendor/Cappuccino
	url = https://github.com/MizukiSonoko/Cappuccino.git
  ignore = dirty
[submodule "core/vendor/Cappuccino/lib/json"]
  path = core/vendor/Cappuccino/lib/json
  url = https://github.com/nlohmann/json.git
[submodule "core/vendor/thread_pool_cpp"]
    path = core/vendor/thread_pool_cpp
    url = https://github.com/Warchant/thread-pool-cpp.git