config/__pycahe__
**/__pycache__/*
__pycache__/*
build/*
*.DS_Store
*.vscode/
*.swp
*.class
*.gch
*.a
*.o
*.pb.cc
*.pb.h
*.retry
.gradle/*
.vscode/*
.idea/*
*xcworkspace*
*cmake-build-debug*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/*
cmake-build-debu/*
docker/build/iroha.tar
cmake-build-debug/*
external/*
core/infra/protobuf
docker/tiny/iroha/
include/generated/*
.scannerwork/
iroha.conf
peers.list
cmake-build*

cmake-build*
.gtm
/.gtm/

*.deb
