[submodule "core/vendor/KeccakCodePackage"]
  path = core/vendor/KeccakCodePackage
  url = https://github.com/gvanas/KeccakCodePackage.git
  ignore = dirty
[submodule "core/vendor/leveldb"]
  path = core/vendor/leveldb
  url = https://github.com/google/leveldb.git
  ignore = dirty
[submodule "core/vendor/Aeron"]
  path = core/vendor/Aeron
  url = https://github.com/real-logic/Aeron.git
  ignore = dirty
[submodule "core/vendor/ed25519"]
	path = core/vendor/ed25519
	url = https://github.com/luca3104/ed25519.git
  ignore = dirty
[submodule "core/vendor/json"]
	path = core/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "core/vendor/Agrona"]
	path = core/vendor/Agrona
	url = https://github.com/real-logic/Agrona.git
[submodule "core/vendor/Cappuccino"]
	path = core/vendor/Cappuccino
	url = https://github.com/MizukiSonoko/Cappuccino.git
