{
  "block_store_path" : "/tmp/block_store/",
  "torii_port" : {{ torii_port }},
  "internal_port" : {{ internal_port }},
  "pg_opt" : "host={{ postgresName }} port= {{ postgresPort }} user={{ postgresUser }} password='{{ postgresPassword }}'",
  "max_proposal_size" : 10,
  "proposal_delay" : 5000,
  "vote_delay" : 5000,
  "load_delay" : 5000
}
