version: '3.5'

services:
  d3-iroha:
    image: hyperledger/iroha:snapshot-29a7517
    container_name: d3-iroha-{{id}}
    tty: true
    ports:
      - "{{id | int + 50051}}:50051"
    environment:
      - KEY=keys/node0
    entrypoint:
      - /opt/iroha_data/entrypoint.sh
    volumes:
      - iroha_block_store:/tmp/block_store
      - ./:/opt/iroha_data
    networks:
      - iroha-network-local
    restart: on-failure

  d3-iroha-postgres:
    image: postgres:9.5
    container_name: d3-iroha-postgres-{{id}}
    expose:
      - 5432
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
    networks:
      - iroha-network-local
    restart: on-failure


volumes:
  iroha_block_store:

networks:
  iroha-network-local:
    external: 
      name: iroha-network-local