version: "2.4"

services:
{% for node in iroha_nodes %}
  {{ node.human_hostname }}:
    image: hyperledger/iroha:{{ iroha_docker_tag }}
{% if iroha_overlay_network %}
    container_name: {{ node.hostname.split(':')[0] }}
    expose:
      - {{ iroha_peer_port }}
    ports:
        - {{ iroha_torii_port | int + loop.index - 1 }}:{{ iroha_torii_port }}
{% else %}
    container_name: {{ node.human_hostname }}
    ports:
      - {{ node.peer_port }}:{{ iroha_peer_port }}
      - {{ iroha_torii_port | int + loop.index - 1 }}:{{ iroha_torii_port }}
{% endif %}
    environment:
      KEY: {{ node.hostname }}
      IROHA_POSTGRES_HOST: {{ node.human_hostname }}-postgres
    volumes:
      - iroha_block_store-{{ node.human_hostname }}:/tmp/block_store
      - ./conf/{{ node.human_hostname }}:/opt/iroha_data
    depends_on:
      - {{ node.human_hostname }}-postgres
    networks:
      - {{ iroha_network_name }}
      - iroha-db-net
    restart: always

  {{ node.human_hostname }}-postgres:
    image: postgres:{{ iroha_postgres_docker_tag }}
    container_name: {{ node.human_hostname }}-postgres
    environment:
      POSTGRES_PASSWORD: {{ iroha_postgres_password }}
    expose:
      - {{ iroha_postgres_port }}
    volumes:
      - psql_storage-{{ node.human_hostname }}:/var/lib/postgresql/data
    networks:
      - iroha-db-net
    restart: always
{% if iroha_postgres_max_prepared_transactions is defined %}
    command: -c max_prepared_transactions={{ iroha_postgres_max_prepared_transactions }}
{% endif %}

{% endfor %}

volumes:
{% for node in iroha_nodes %}
  iroha_block_store-{{ node.human_hostname }}:
  psql_storage-{{ node.human_hostname }}:
{% endfor %}

networks:
  {{ iroha_network_name }}:
    external:
      name: {{ iroha_network_name }}
  iroha-db-net:
    name: iroha-db-net
