{
  "block_store_path" : "/tmp/block_store/",
  "torii_port" : 50051,
  "internal_port" : 10001,
  "pg_opt" : "host={{ postgresName }} port=5432 user={{ postgresUser }} password='{{ postgresPassword }}'",
  "redis_host" : "{{ redisName }}",
  "redis_port" : 6379,
  "max_proposal_size" : 10,
  "proposal_delay" : 5000,
  "vote_delay" : 5000,
  "load_delay" : 5000
}