from collections import namedtuple

myhosts = [] #fill in list of ips as strings
deploy_hosts = [] #fill in list of ips as strings

port = '22'
user = '[username here]' #fill in
password = '[password here]' #fill in

# github
GitHub = namedtuple("GitHub", "email name")
repo_name = "git@github.com:soramitsu/iroha.git"

github = GitHub("[email used for github]", "[github username]") #fill in
