{
  "block_store_path" : "/tmp/block_store/",
  "torii_port" : 50051,
  "internal_port" : 10001,
  "pg_opt" : "host=localhost port=5432 user=postgres password=mysecretpassword",
  "max_proposal_size" : {{ max_proposal_size }},
  "proposal_delay" : {{ proposal_delay }},
  "vote_delay" : {{ vote_delay }},
  "load_delay" : {{ load_delay }},
  "mst_enable" : false
}
