{% for key_pair in peer_keys.stdout_lines %}
{% set keys = key_pair.split(',') %}
---
apiVersion: v1
kind: Secret
metadata:
  name: iroha-peer-key-{{ loop.index - 1 }}
type: Opaque
data:
  node.priv: {{ keys[0] }}
  node.pub: {{ keys[1] }}
{% endfor %}
